
.paymentContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
    margin-top: 250px;
    
    
  }
  .body{
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: url('/assests/people.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: 0.5;
  }
  
  .paymentContainer label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .paymentContainer input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
   
  }
  
  .paymentContainer button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
  }
  .heading{
    color: rgb(228, 61, 5);
  }
  